.navbar{
			margin: 1rem;
			border-radius: 0.5rem;
			padding: 10px;
		}
		body{
			background-color: aqua;
		}
		.navbar-brand{
			padding: 1rem;
		}
		.row{
			margin: 2rem;
			text-align: center;
		}
		hr{
			color: #888282;
		}
		th{

			padding: 1.3rem;
		}
		#total-orders{
			background-color: rgb(98, 219, 179);
		}
		#total-delivered{
			background-color: rgb(115, 234, 195);
		}
		#total-pending{
			background-color: aquamarine;
		}
		#dif{
			text-align: left;
		}
		.navbar-nav{
			padding: 10px;
		}
