{% extends  'accounts/main.html'%}
{% load static %}
{% block content%}
<style type="text/css">
	.card{
		text-align: left;
		border-radius: 10px;
		background-color: black;
		color: white;
	}
	.btn{
		margin: 0.2rem;
	}
</style>

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body ">
			<p>Do you Really want to delete {{item}}</p>
			<form action="{%url 'delete_order' item.id%}" method="POST">
				{% csrf_token %}
				<a class="btn btn-primary " href="{% url 'home' %}">cancel</a>
				<input class="btn btn-danger" type="submit" name="confirm">
			</form>
		</div>
	</div>
</div>
{%endblock%}