{% extends  'accounts/main.html'%}
{% load static %}
{% block content%}
<style type="text/css">
   .card{
      text-align: left;
      border-radius: 10px;
      background-color:rgb(242, 232, 219);
      color:black;
      padding: 15px;
   }
   
</style>


<div class="row">
   <div class="col-md-6">
      <div class="card card-body ">
          <form action="" method="POST">
             {% csrf_token %}
             {{formset.management_form}}
             {% for form in formset %}
                  {{form.as_p}}
                  
                  
                  <hr>
             {% endfor %}
             <input type="submit" name="submit">
          </form>
      </div>
   </div>
</div>

{%endblock%}