
<div class="row">
    <div class="col col-md">
      <div class="card" id="total-orders">
        <div class="card-header" >
          <h5 class="card-title" >Total Orders</h5>

        </div>
        <div class="card-body">
            <h5 class="card-title">{{totalorder}}</h5>
          </div>
      </div>
    </div>
    <div class="col col-md">
      <div class="card" id="total-delivered">
        <div class="card-header">
          <h5 class="card-title">Orders Delivered</h5>
        </div>
        <div class="card-body" >
            <h5 class="card-title">{{delivered}}</h5>
          </div>
      </div>
    </div>
    <div class="col col-md">
        <div class="card" id="total-pending">
          <div class="card-header">
            <h5 class="card-title">Order Pending</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{pending}}</h5>
          </div>
        </div>
      </div>
  </div>